{% extends 'app/base.html' %}
{% load static %}
{% block title %}About{% endblock title %}

{% block banner-slider %}
  <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="{% static 'app/images/banner/b1.jpg' %}" class="d-block w-100" alt="banner image">
      </div>
      <div class="carousel-item">
        <img src="{% static 'app/images/banner/b2.jpg' %}" class="d-block w-100" alt="banner image">
      </div>
      <div class="carousel-item">
        <img src="{% static 'app/images/banner/b3.jpg' %}" class="d-block w-100" alt="banner image">
      </div>
      <div class="carousel-item">
        <img src="{% static 'app/images/banner/b4.jpg' %}" class="d-block w-100" alt="banner image">
      </div>
    </div>
  </div>
{% endblock banner-slider %}

{% block main-content %}
<div class="container mt-3">
  <br>
  <h2 class="text-center">À Propos de Nous</h2>
  <br>
  <div class="row container">
      <p class="fs-4 text-center">Clemence Groupe est une entreprise innovante spécialisée dans la transformation du souchet. Notre siège social est situé à Lome, Togo. Nous nous distinguons par notre engagement envers la qualité et l'innovation dans le secteur alimentaire. Depuis le début de notre production, nous nous sommes rapidement imposés comme un acteur clé, offrant une gamme diversifiée de produits à base de souchet, incluant des laits, crèmes, liqueurs, amuse-bouches, et farines.</p>
  </div>

  <br><br>
  <h2 class="text-center">Mission</h2>
  <br>
  <div class="row container">  
      <p class="fs-4 text-center">Notre mission chez Clemence Groupe est de valoriser le souchet à travers des produits de haute qualité, en utilisant des techniques de transformation innovantes. Nous nous engageons à satisfaire les besoins de nos clients en offrant des produits uniques et raffinés, tout en soutenant la communauté agricole. Nous visons à allier tradition et modernité pour créer des solutions culinaires qui répondent aux attentes de nos clients et enrichissent leur expérience gastronomique.</p>
  </div>
</div>
<br><br>

{% endblock main-content %}